html, body, #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#icon {
    position: absolute;
    cursor: pointer;
    bottom: 77vh;
    left: 43%;
    z-index: 1000;
    width: 30vh;
    height: auto;
}