html, body, #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#icon {
    position: absolute;
    cursor: pointer;
    bottom: 77vh;
    left: 79vh;
    z-index: 1000;
    width: 30vh;
    height: auto;
}

#complete_view {
    position: absolute;
    font-family: "Pokemon Solid";
    color: #3563a9;
    font-size: 2.2vh;
    cursor: pointer;
    bottom: 0.1vh;
    left: 76%;
    z-index: 1000;
    height: auto;
    background: #fbcf21;
    border: 4px black solid;
}