html,
body,
#container,
#map {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow:hidden
}
#controls {
  display:none;
  grid-column-gap:5px;
  margin-left:10px
}
#controlscon {
  position:absolute;
  display:flex;
  top:0;
  left:0;
  z-index:1000;
  margin:10px;
  padding:6px 8px;
  background:rgba(255,255,255,.9);
  box-shadow:0 0 15px rgb(0 0 0/20%);
  border-radius:5px;
  transition:all .3s ease-in-out
}
#menu-access {
  margin:3px 0
}

#controls button.time {
  padding: 1px 9px;
}
#controls button.time:hover {
  filter: brightness(90%);
}
.itemIcon {
  width:20px;
  height:20px;
  margin:-10px;
  background: url("./assets/item.png");
  background-size:100% 100%;
  transition:all .1s
}
.hiddenIcon {
  width:20px;
  height:20px;
  margin:-10px;
  background-image: url("./assets/hitem.png");
  background-size:100% 100%;
  transition:all .1s
}
.mitemIcon {
  width:20px;
  height:20px;
  margin:-10px;
  background-image: maroon;
  background-size:100% 100%;
  transition:all .1s
}
.berryIcon {
  width:20px;
  height:20px;
  margin:-10px;
  background-image: url("assets/berry.png");
  background-size:100% 100%;
  transition:all .1s
}
.tmIcon {
  width:20px;
  height:20px;
  margin:-10px;
  background-image: url("./assets/tm.png");
  background-size:100% 100%;
  transition:all .1s
}
.trainerIcon {
  width:20px;
  height:25px;
  margin:-10px;
  background-image: url("./assets/trainer.png");
  background-size:100% 100%;
  transition:all .1s
}
.pokemon-image{
  width:35px;
}
.entrance {
  width:20px;
  height:20px;
  margin:-10px;
  background-image: url("assets/entrance.png");
  background-size:100% 100%;
  transition:all .1s
}
.hidden {
  display:none
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, .9);
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  border-radius: 5px;
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
}
.info-header {
  display:flex;
  margin-bottom:5px;
  margin-top:10px
}
.info-header h4 {
  margin:10px;
  font-size:20px;
  color:#000;
  text-align:center
}
.info-header button {
  margin-left:auto;
  width:70px
}
#pkmn-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
  background-color: black;
  padding: 5px;
}

.pkmn-nodata {
  text-align: center;
  padding: 8px;
  font-weight: bold;
  color: black;
}

.pkmn-list-row {
  width: 100%;
  grid-column: 1 / -1;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
}

.pkmn-list-column {
  text-align: center;
  padding: 4px;
  max-width: 120px;
  font-size: 14px;
}

.pkmn-list,
.pkmn-list-row,
.pkmn-list-column,
.pkmn-nodata {
  background-color: #fbcf21;
  outline: 0.2px solid black;
}

.time0 {
  background-color: peachpuff;
}
.time1 {
  background-color: skyblue;
}
.time2 {
  background-color: #C3B1E1;
}

.yeartime0 {
  background-color: lightgreen;
}
.yeartime1 {
  background-color: #f6d7b0;
}
.yeartime2 {
  background-color: #f05133;
}
.yeartime3 {
  background-color: lightskyblue;
}

#resetView {
  position: absolute;
  font-family: "Pokemon Solid";
  color: #3563a9;
  font-size: 2vh;
  cursor: pointer;
  bottom: 0.1vh;
  left: 69%;
  z-index: 1000;
  height: auto;
  background: #fbcf21;
  border: 4px black solid;
}

#close_button {
  font-family: Algerian, serif;
    font-size: 16px;
    font-weight: bold;
    color: #3563a9;
    cursor: pointer;
    background: #fbcf21;
}

#item_button {
  font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    background: #d63131;
}

#hidden_item_button {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  background: lightgrey;
}

#tm_button {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  background: cornflowerblue;
}

#trainer_button {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  background: sandybrown;
}